items-menu {
	.items-menu {
		margin: 0;
		padding: 0;
		&[class*="col_"] {
			display: flex;
			flex-wrap: wrap;
		}
		@for $i from 1 through 8 {
			&.col_#{$i} {
				cards-menu {
					width: 100%/$i -  2*$i;
				}
			}
		}
	}
}
