@mixin border_radius($first: 3%, $second: 50%) {	
	border-bottom-left-radius: $first $second;
	border-bottom-right-radius: $first $second;
	border-top-right-radius: $first $second;
	border-top-left-radius: $first $second;	
}

@mixin sm() {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

@mixin md(){
	@media(min-width: #{$screen-md-min}) {
		@content;
	}
}

@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}