$primary: #a0dce1;
$primary-shadow: darken($primary, 45);
$primary-dark: darken($primary, 30);
$primary-ligth: lighten($primary, 20);

$font-color: #7d6363;
$font-color-light: lighten($font-color, 20);

$sans-serif: sans-serif;


$transitionDuration: .5s;